
body{

    margin: 0;
    padding: 0;

}


.fondo{
    background-image: url('../image/Login.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}